@using VuThanhDuong_DA.Models
@using MvcSiteMapProvider.Web.Html

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Contents/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fontawesome-free-kit/css/all.min.css" rel="stylesheet" />
    <script src="~/fontawesome-free-kit/js/all.min.js"></script>
    <script src="~/Scripts/js/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <style>
        .breadcrumb a {
            color: darkslategrey;
        }
        .hiddenComp {
            display: none;
        }
    </style>
</head>

<body>
    <div id="banner" class="container-fluid">
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-5">
                <div class="container-fluid">
                    <img src="~/Assets/logo.png" style="width:60%" />
                </div>
            </div>
            <div class="col-6">
                <div class="container-fluid mt-5">
                    <div class="row">
                        <div class="col-6">
                            <div class="container rounded bg-light" style="height: 200px">
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Cơ sở Thủ Đức</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p><i class="fa-solid fa-location-dot"></i> Địa chỉ: Lầu 3, Tòa nhà OneHub SaiGon Complex Tower, Đ. D1, Phường Tân Phú, Thành Phố Thủ Đức, Thành phố Hồ Chí Minh</p>
                                        <p><i class="fa-solid fa-phone"></i> Số điện thoại: +84.366775502</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="container rounded bg-light" style="height: 200px">
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Cơ sở Quận 1</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p><i class="fa-solid fa-location-dot"></i> Địa chỉ: Lầu 36, Tòa nhà Bitexco, Số 02 Hải Triều, Phường Bến Nghé, Quận 1, Thành Phố Hồ Chí Minh</p>
                                        <p><i class="fa-solid fa-phone"></i> Số điện thoại: +84.335271451</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mainNav" class="container-fluid border-top">

        <div class="row">
            <div class="col-12 p-0">
                <ul class="nav navbar bg-light navbar-light">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold text-dark" href="~/Home/Index">
                            <i class="fa-solid fa-house"></i> Trang chủ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold text-dark" href="~/Home/About">
                            <i class="fa-solid fa-compass"></i>
                            Giới thiệu
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button id="btnDropdown" class="btn btn-light dropdown-toggle font-weight-bold" onmouseover="" type="button" data-toggle="dropdown">
                                <i class="fa-solid fa-list"></i>
                                Sản phẩm
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnDropdown">
                                @Html.Action("Dropdown", "Home")
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold text-dark" href="~/Home/Instruction">
                            <i class="fa-solid fa-chalkboard-user"></i>
                            Hướng dẫn mua hàng
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold text-dark" href="~/Home/Contact">
                            <i class="fa-solid fa-phone"></i>
                            Liên hệ
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="container-fluid">
                            <form class="d-flex" method="post" action="~/Product/Search">
                                <input name="searchtx" class="form-control mr-2" placeholder="Tìm kiếm sản phẩm" type="text" />
                                <button class="btn btn-outline-dark" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-light border-top border-bottom p-2">
            <div class="col-3">

            </div>
            <div class="col-9 text-right font-weight-bold">
                @{

                    if (Session["currentUser"] != null)
                    {
                        user_account user = Session["currentUser"] as user_account;
                        <p class="font-weight-normal m-0 d-inline">Xin chào, @user.user_lastname @user.user_firstname</p>
                        <p class="font-weight-normal m-0 mr-2 d-inline">| Điểm tích lũy: @user.user_point</p>
                        <a class="btn btn-outline-warning" style="width: 115px" href="~/Purchase/Index"><i class="fa-solid fa-barcode"></i> Đơn hàng</a>
                        <a class="btn btn-outline-info" style="width: 115px" href="~/Cart/Index"><i class="fa-solid fa-cart-shopping"></i> Giỏ hàng</a>
                        <button class="btn btn-outline-primary" style="width: 115px"><i class="fa-solid fa-user"></i> Hồ sơ</button>
                        <button class="btn btn-outline-danger" style="width: 115px" type="button" data-toggle="modal" data-target="#logOutModal"><i class="fa-solid fa-right-from-bracket"></i> Đăng xuất</button>
                    }
                    else
                    {
                        <a class="btn btn-outline-info" style="width: 115px" href="~/Cart/Index"><i class="fa-solid fa-cart-shopping"></i> Giỏ hàng</a>
                        <button class="btn btn-outline-dark" type="button" style="width: 115px" data-toggle="modal" data-target="#userLoginModal">Đăng nhập</button>
                        <button class="btn btn-outline-dark" type="button" style="width: 115px" data-toggle="modal" data-target="#userRegisterModal">Đăng ký</button>
                    }
                }
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3 mb-3">
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-11 pl-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        @*{
                            Html.MvcSiteMap().SiteMap.CurrentNode.Title
                        }*@
                        @Html.MvcSiteMap().SiteMapPath()
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-9 border-top border-left border-right" style="min-height: 1000px">
                @RenderBody()
            </div>
            <div class="col-2">
                @Html.Action("Sidebar", "Home")
            </div>
        </div>
        <div class="row">
            <div class="container-fluid bg-light border-top">
                <div class="row mt-4">
                    <div class="col-3">
                        <div class="container-fluid">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <h5>THÔNG TIN</h5>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Giới thiệu SHS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Hệ thống cửa hàng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Tuyển dụng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="container-fluid">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <h5>TRỢ GIÚP</h5>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Chính sách khách hàng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Phương thức thanh toán</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Chính sách mua hàng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Chính sách giao hàng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Chính sách đổi trả</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Chính sách bảo hành</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="container-fluid">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <h5>THANH TOÁN</h5>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Visa / MasterCard / JCB</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">ATM / Internet Banking / Ví điện tử</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Quét mã QR</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Mua trước trả sau</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#">Thanh toán COD</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="container-fluid">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <h5>KẾT NỐI VỚI CHÚNG TÔI</h5>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fa-brands fa-facebook fa-2xl"></i> Facebook
                                    </a>
                                    <a class="nav-link" style="color: plum" href="#">
                                        <i class="fa-brands fa-instagram fa-2xl"></i> Instagram
                                    </a>
                                    <a class="nav-link text-dark" href="#">
                                        <i class="fa-brands fa-tiktok fa-2xl"></i> Tiktok
                                    </a>
                                    <a class="nav-link text-danger" href="#">
                                        <i class="fa-brands fa-youtube fa-2xl"></i> Youtube
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <img src="~/Assets/logoSaleNoti.png" style="width: 70%" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid border lead text-center" style="font-size: 12px">
                        <p class="m-0">© Copyright @DateTime.Now.Year SaiGon Handicraft Shop - All Rights Reserved.</p>
                        <p class="m-0">Địa chỉ: 189 - 197, Dương Bá Trạc, Phường 1, Quận 8, TP. Hồ Chí Minh | MST: XXXXXXXXXX</p>
                        <p class="m-0">Website designed by VuThanhDuong</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Action("LoginModal", "User")
    @Html.Action("RegisterModal", "User")
    @Html.Action("LogOutModal", "User")
    @if (TempData["LoginFailed"] != null)
    {
        @Html.Action("LoginFailed", "User")
    }
    @if (TempData["RegisterFailed"] != null)
    {
        @Html.Action("RegisterFailed", "User")
    }
    @if (TempData["RegisterSucceed"] != null)
    {
        @Html.Action("RegisterSuccessfully", "User")
    }
    @if (TempData["submitSucceed"] != null)
    {
        @Html.Action("SubmitSucceed", "Cart");
    } 
    <script>
        $(document).ready(function () {
            var headerHeight = $("#banner").height();
            $("#loginFailedModal").modal("show");
            $("#registerFailedModal").modal("show");
            $("#registerSucessfullyModal").modal("show");
            $("#submitSucceedModal").modal("show");
            $(window).scroll(function () {
                if ($(this).scrollTop() > headerHeight) {
                    $("#mainNav").addClass("fixed-top");
                } else {
                    $("#mainNav").removeClass("fixed-top");
                }
            });
        });
    </script>
    <script>

        $(document).ready(function () {
            $("#userRegisterModal").on("show.bs.modal", function () {
                $("#validUsername").removeClass("invisible");
                $("#validPassword").removeClass("invisible");
                $("#validRepassword").removeClass("invisible");
                $("#validEmail").removeClass("invisible");
                $("#validPhone").removeClass("invisible");
                $("#validFirst").removeClass("invisible");
                $("#validLast").removeClass("invisible");
                $("#validGender").removeClass("invisible");
                $("#validAddress").removeClass("invisible");
            });
            $("#userLoginModal").on("show.bs.modal", function () {
                $("#validLoginUsername").removeClass("invisible");
                $("#validLoginPassword").removeClass("invisible");
            });
            $("#user_username").keyup(function () {
                if ($("#user_username").val() === "") {
                    $("#validUsername").removeClass("invisible");
                } else {
                    $("#validUsername").addClass("invisible");
                }
            });
            $("#user_password").keyup(function () {
                if ($("#user_password").val() === "") {
                    $("#validPassword").removeClass("invisible");
                } else {
                    $("#validPassword").addClass("invisible");
                }
            });
            $("#user_repassword").keyup(function () {
                if ($("#user_repassword").val() === "") {
                    $("#validRepassword").removeClass("invisible");
                } else {
                    $("#validRepassword").addClass("invisible");
                }
            });
            $("#user_email").keyup(function () {
                if ($("#user_email").val() === "") {
                    $("#validEmail").removeClass("invisible");
                } else {
                    $("#validEmail").addClass("invisible");
                }
            });
            $("#user_phonenumber").keyup(function () {
                if ($("#user_phonenumber").val() === "") {
                    $("#validPhone").removeClass("invisible");
                } else {
                    $("#validPhone").addClass("invisible");
                }
            });
            $("#user_firstname").keyup(function () {
                if ($("#user_firstname").val() === "") {
                    $("#validFirst").removeClass("invisible");
                } else {
                    $("#validFirst").addClass("invisible");
                }
            });
            $("#user_lastname").keyup(function () {
                if ($("#user_lastname").val() === "") {
                    $("#validLast").removeClass("invisible");
                } else {
                    $("#validLast").addClass("invisible");
                }
            });
            $("input[name='user_gender'").click(function () {
                if ($("#gender1").is(":checked") || $("#gender2").is(":checked") || $("#gender3").is(":checked")) {
                    $("#validGender").addClass("invisible");
                } else {
                    $("#validGender").removeClass("invisible");
                }
            });
            $("#user_address").keyup(function () {
                if ($("#user_address").val() === "") {
                    $("#validAddress").removeClass("invisible");
                } else {
                    $("#validAddress").addClass("invisible");
                }
            });
            $("#login_username").keyup(function () {
                if ($("login_username").val() === "") {
                    $("#validLoginUsername").removeClass("invisible");
                } else {
                    $("#validLoginUsername").addClass("invisible");
                }
            });
            $("#login_password").keyup(function () {
                if ($("login_password").val() === "") {
                    $("#validLoginPassword").removeClass("invisible");
                } else {
                    $("#validLoginPassword").addClass("invisible");
                }
            });
            $("#userRegisterModal").on("hide.bs.modal", function () {
                $("#userRegisterForm").trigger("reset");
            });
            $("#userLoginModal").on("hide.bs.modal", function () {
                $("#userLoginForm").trigger("reset");
            });
        });
    </script>
</body>
</html>