@using VuThanhDuong_DA.Models
@using MvcSiteMapProvider.Web.Html

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Contents/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fontawesome-free-kit/css/all.min.css" rel="stylesheet" />
    <script src="~/fontawesome-free-kit/js/all.min.js"></script>
    <script src="~/Scripts/js/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <style>
        .hiddenComp {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">

            </div>
            <div class="col-2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <img class="img-fluid" src="~/Assets/logo.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">

            </div>
        </div>
    </div>
    <div class="container-fluid p-0 border-top">
        <div class="row">
            <div class="col-12 text-right">
                @if (Session["admin"] != null)
                {
                    admin_account current = Session["admin"] as admin_account;
                    <p class="d-inline">Quản trị viên: @current.admin_username</p>
                    <a class="btn btn-outline-danger m-1" href="~/Admin/Logout">Đăng xuất</a>
                }
            </div>
        </div>
    </div>
    <div class="container-fluid border-top mb-5">
        <div class="row">
            <div class="col-3">
                @if (Session["admin"] != null)
                {
                    @Html.Action("Sidebar", "Admin");
                }
            </div>
            <div class="col-8">
                @RenderBody()
            </div>
            <div class="col-1">

            </div>
        </div>
    </div>
    <div class="container-fluid border-top border-bottom">
        <div class="row">
            <div class="col-12 text-center">
                <p class="lead" style="font-size:14px">Administrator page. Just for management purpose!</p>
                <p class="lead" style="font-size:14px">2023 - Designed by VuThanhDuong</p>
            </div>
        </div>
    </div>
</body>
</html>

@if (TempData["admin_failed"] != null)
{
    @Html.Action("LoginFailed", "Admin")
}

<script>
    $(document).ready(function () {
        $("#adminLoginFailedModal").modal("show");
    });
</script>