@using VuThanhDuong_DA.Models;
@model IEnumerable<VuThanhDuong_DA.Models.InCartProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<form method="post" action="~/Cart/ChangeProductAmount">
    @if (Model != null)
    {
        var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid">
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr class="text-center">
                                        <td colspan="7" class="text-center">
                                            <h5>DANH SÁCH SẢN PHẨM TRONG GIỎ HÀNG</h5>
                                        </td>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center align-middle">
                                        <td>
                                            Mã sản phẩm
                                        </td>
                                        <td>
                                            Tên sản phẩm
                                        </td>
                                        <td>
                                            Hình ảnh minh họa
                                        </td>
                                        <td>
                                            Giá sản phẩm
                                        </td>
                                        <td>
                                            Giảm giá
                                        </td>
                                        <td>
                                            Số lượng đặt
                                        </td>
                                        <td>
                                            Thành tiền
                                        </td>
                                    </tr>
                                    @{
                                        foreach (InCartProduct icp in Model)
                                        {
                                            <tr class="text-center">
                                                <td>
                                                    @icp.Id
                                                </td>
                                                <td>
                                                    @icp.Name
                                                </td>
                                                <td>
                                                    <img style="width: 180px; height: 120px" src="~/Images/@icp.ImgFileName" />
                                                </td>
                                                <td>
                                                    @String.Format(info, "{0:C0}", icp.Price)
                                                </td>
                                                <td>
                                                    @String.Format(info, "{0:C0}", icp.Discount)
                                                </td>
                                                <td>
                                                    <input min="1" max="@icp.MaxAmount" name="@icp.Id" class="text-center w-50" type="number" value="@icp.Amount" />
                                                </td>
                                                <td>
                                                    @String.Format(info, "{0:C0}", ((icp.Price - icp.Discount) * icp.Amount));
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger" href="~/Cart/DeleteProduct/?id=@icp.Id">Xóa</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-1 pt-3 border-top">
                <div class="col-7">

                </div>
                <div class="col-5 d-inline">
                    <p>Tổng số lượng hàng: @ViewBag.amount</p>
                    <p>Tổng thành tiền: @String.Format(info, "{0:C0}", ViewBag.sum)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-7">

                </div>
                <div class="col-5 d-inline">
                    <button class="btn btn-danger">Hủy giỏ hàng</button>
                    <button id="editCart" class="btn btn-primary" type="submit">Cập nhật</button>
                    <a id="submitCart" href="~/Cart/RequestOrder" class="btn btn-success">Tiến hành đặt hàng</a>
                </div>
            </div>
        </div>
    }
</form>
@{ 
    List<InCartProduct> products = Session["cart"] as List<InCartProduct>;
    if (products == null || products.Count == 0)
    {
        <script>
            $("#submitCart").addClass("disabled");
            $("#editCart").prop('disabled', true);
        </script>
    }
}