@{
    ViewBag.Title = "RequestOrder";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@using VuThanhDuong_DA.Models;
@model IEnumerable<VuThanhDuong_DA.Models.InCartProduct>

<form method="post" action="~/Cart/SubmitOrder">
    @if (Model != null)
    {
        var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid">
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr class="text-center">
                                        <td colspan="7" class="text-center">
                                            <h5>XÁC NHẬN ĐƠN HÀNG</h5>
                                        </td>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center align-middle">
                                        <td>
                                            Mã sản phẩm
                                        </td>
                                        <td>
                                            Tên sản phẩm
                                        </td>
                                        <td>
                                            Hình ảnh minh họa
                                        </td>
                                        <td>
                                            Giá sản phẩm
                                        </td>
                                        <td>
                                            Giảm giá
                                        </td>
                                        <td>
                                            Số lượng đặt
                                        </td>
                                        <td>
                                            Thành tiền
                                        </td>
                                    </tr>
                                    @{
                                        foreach (InCartProduct icp in Model)
                                        {
                                            <tr class="text-center">
                                                <td>
                                                    @icp.Id
                                                </td>
                                                <td>
                                                    @icp.Name
                                                </td>
                                                <td>
                                                    <img style="width: 180px; height: 120px" src="~/Images/@icp.ImgFileName" />
                                                </td>
                                                <td>
                                                    @String.Format(info, "{0:C0}", icp.Price)
                                                </td>
                                                <td>
                                                    @String.Format(info, "{0:C0}", icp.Discount)
                                                </td>
                                                <td>
                                                    <input min="1" name="@icp.Id" class="text-center w-25" type="number" value="@icp.Amount" disabled />
                                                </td>
                                                <td>
                                                    @String.Format(info, "{0:C0}", ((icp.Price - icp.Discount) * icp.Amount));
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-1 pt-3 border-top">
                <div class="col-7">
                    <div class="form mt-0">
                        @if (Session["currentUser"] != null)
                        {
                            <div class="form-group">
                                <label>Họ và tên người mua</label>
                                <input class="form-control" name="Order_owner_name" type="text" required value="@((Session["currentUser"] as user_account).user_lastname + " " + (Session["currentUser"] as user_account).user_firstname)"/>
                            </div>
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input class="form-control" name="Order_owner_phone" type="text" required value="@((Session["currentUser"] as user_account).user_phonenumber)" minlength="10"/>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" name="Order_owner_email" type="email" value="@((Session["currentUser"] as user_account).user_email)"/>
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ nhận hàng</label>
                                <input class="form-control" name="Order_owner_address" required value="@((Session["currentUser"] as user_account).user_address)"/>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label>Họ và tên người mua</label>
                                <input class="form-control" name="Order_owner_name" type="text" required />
                            </div>
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input class="form-control" name="Order_owner_phone" type="text" required minlength="10"/>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" name="Order_owner_email" type="email" />
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ nhận hàng</label>
                                <input class="form-control" name="Order_owner_address" required />
                            </div>
                        }
                    </div>
                </div>
                <div class="col-5 d-inline">
                    <p>Tổng số lượng hàng: @ViewBag.amount</p>
                    <p>Tổng thành tiền: @String.Format(info, "{0:C0}", ViewBag.sum)</p>
                    <input type="submit" class="btn btn-success" value="Xác nhận đơn hàng"/>
                    <a class="btn btn-danger" href="~/Cart/Index">Hủy</a>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    
                </div>
                <div class="col-5 d-inline">
                    
                </div>
            </div>
        </div>
    }
</form>